nav {
  background-color: #000;
}

main {
  display: flex;
  flex-wrap: wrap;
}

.flex-Container {
  display: flex;
}

.banner-left {
  border: solid black 2px;
  height: 1000px;
  width: 300px;
}

.mir-banner {
  height: 996px;
  width: 296px;
}

.banner-right {
  border: solid black 2px;
  height: 1000px;
  width: 300px;
}

.path-banner {
  height: 996px;
  width: 296px;
}

.search-bar {
  position: relative;
  bottom: 10px;
}

li {
  margin: 0px 5px;
}

li:hover {
  background-color: #ff0000;
}

#top-Text {
  font-family: "Special Elite", sans-serif;
  position: relative;
  top: 18px;
  border-bottom: solid 2px #ff0000;
}

#bottom-Text {
  font-family: "Special Elite", sans-serif;
  position: relative;
  bottom: 34px;
  border-top: solid 2px #ff0000;
}

.pros-Text {
  color: #ff0000;
}

hr {
  width: 50%;
}

/*About Us CSS Styling */
.container-aboutUs {
  text-align: center;
  padding: 10xp;
}

#aboutUsText {
  box-sizing: content-box;
  width: 50%;
  height: 50%;
  border: solid #ff0000;
  text-align: center;
  margin: auto;
  position: relative;
  top: 175px;
  left: 50px;
}
/*About Us CSS Styling */
/* ------------------- */

#player-SearchBox {
  border: solid 2px black;
  width: 75%;
  height: 145px;
  margin: 0 auto;
  background: rgb(121, 121, 121, 0.55);
}

label {
  font-weight: bolder;
  color: black;
  font-size: 1rem;
}

#player-SearchBox > h6 {
  font-weight: bolder;
  text-decoration: underline;
}

#video-Container {
  background-color: rgb(194, 194, 194);
}

/* Desktop Layout */

@media screen and (min-width: 1201px) {
  #brand-Logo {
    width: 7%;
    height: 4rem;
  }
}

@media screen and (max-width: 1920px) {
  #brand-Logo {
    width: 4%;
    height: 4rem;
  }

  video {
    width: 100%;
  }
}

@media screen and (max-width: 1200px) {
  #brand-Logo {
    width: 9%;
    height: 4rem;
  }
  .flex-Container {
    margin-top: 5px;
  }

  video {
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  #complete-Button {
    margin-top: 80px;
  }
}

/* Tablet Layout */

@media screen and (max-width: 992px) {
  #brand-Logo {
    width: 8%;
    height: 4rem;
  }

  video {
    width: 100%;
  }

  #pc {
    margin-bottom: 6px;
  }

  .console-Container {
    position: relative;
    left: 30%;
  }
}

/* Mobile Layout */
@media screen and (max-width: 600px) {
  #brand-Logo {
    width: 15%;
    height: 4rem;
  }

  video {
    width: 100%;
  }

  #pc {
    margin-bottom: 6px;
  }

  .console-Container {
    position: relative;
    left: 32%;
  }
}

@media screen and (max-width: 500px) {
  #brand-Logo {
    width: 20%;
    height: 4rem;
  }

  video {
    width: 100%;
  }

  #pc {
    margin-bottom: 8px;
  }

  .console-Container {
    position: relative;
    left: 32%;
  }
}

@media screen and (max-width: 400px) {
  #brand-Logo {
    width: 30%;
    height: 4rem;
  }

  #pc {
    margin-bottom: 6px;
  }

  .console-Container {
    position: relative;
    left: 27%;
  }

  video {
    width: 100%;
  }
}
