:root {
  --secondayColor: rgb(26, 197, 26);
}

video {
  border: 3px solid var(--secondayColor);
}

.header-Text {
  /*ADD A FALLBACK FONT FAMILY OPTION*/
  font-family: "Special Elite", sans-serif;
  margin: 0;
}

#header-BottomText {
  margin-top: 0;
  position: relative;
  bottom: 5px;
}

li {
  margin: 0 5px;
}

/*#search-Li::after {
  content: "\1F50D";
}*/

header > div > div > nav > figure > div > img {
  height: 60px;
}

.pro-Text {
  color: var(--secondayColor);
}

nav {
  background-color: #000;
}

figure {
  display: flex;
  margin: auto;
  margin-bottom: 25px;
}

figure > ul {
  margin-left: auto;
}

/*#step1 {
  width: 15%;
  height: 240px;
  border: solid 2px black;
  border-radius: 50%;
  position: absolute;
  left: 20px;
  background-image: linear-gradient(to right, green, white);
  text-align: center;
}*/
